.rdrDefinedRangesWrapper{}

.rdrStaticRanges{
  display: flex;
  flex-direction: column;
}

.rdrStaticRange{
  font-size: inherit;
}

.rdrStaticRange.active, 
.rdrStaticRange.active:hover .rdrStaticRangeLabel, 
.rdrStaticRange.active:focus .rdrStaticRangeLabel {
  background-color: #0077C8;
  color: #fff;
}

.rdrStaticRangeLabel{}

.rdrInputRanges{}

.rdrInputRange{
  display: flex;
}

.rdrInputRangeInput{}
